html, body {
    background-color: #1a1a1a;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

/* NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV NAV*/
.navbar {
    background-color: black;
}

.navbar-brand {
    padding: 0 0.6em;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-height: 55px;
    width: auto;
}

.navbar a {
    color: #cd8dff;
}

.navbar .navbar-nav .nav-link { 
  padding: 0.6em;
  font-size: 1.2em;
  transition: all 0.5s; /* This adds a transition to make the color change smoother! */
}
.navbar .navbar-nav .nav-link:hover {
    background-color: #9000ff;
    color: aliceblue;
}


/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

main {
    display: block;
}

h4 {
    padding-bottom: 0.5em;

}

#home {
    margin-bottom: 0; 
}

#gallery, #newsletter, #bio {
    background: rgba(146, 51, 170, 0.1)
}

.section-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #cd8dff;
    padding: 0 0 0.6em;
}


/* HOME GIF/VID */

#band-home {
    width: 100%;
    margin-bottom: 1.5rem;
    height: auto;
    border-radius: 0px;
}

/* GALLERY */
    
    /* PICTURES */

    .carousel-item img {
        max-height: 500px;
        width: auto;
        object-fit: cover;
      }
    

    /* VIDEOS SLIDESHOW */

    #videoCarousel {
        display: flex;
        overflow-x: auto;
        gap: 0.5rem;
    }
    .carousel-inner iframe, video {
        height: 300px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.3s;
    }
    .carousel-inner video {
        max-height: 300px;
        width: auto;
        object-fit: cover; */
        transition: transform 0.3s;
    }
    
    .thumbnails_shows_sliding {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .thumbnails_shows_sliding::-webkit-scrollbar {
        display: none;
    }
    .thumbnails_shows_sliding video {
        aspect-ratio: 16/9;
    }


/* TOUR */

.table th {
    text-transform: uppercase;
    font-size: 1.1rem;
}

.table td a {
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.table td a:hover {
    background-color: #9000ff;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}



/* NEWSLETTER */

#subscribe:hover {
    background-color: #9000ff;
    color: aliceblue;
}

/* MERCH */

#merch-section {

  .card {
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: scale(1.05);
  }
} 

#official-shop:hover {
    background-color: #9000ff;
    color: aliceblue;
}


/* CONTACTS */

  #contacts a {
    color: #cd8dff;
    text-decoration: none;
  }
  
  #contacts a:hover {
    text-decoration: underline;
    color: #9000ff;
  }
  
  #contacts h6 {
    margin-bottom: 0.5rem;
  }
  
  #contacts p, #contacts address {
    color: #cd8dff;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer .container-fluid p a {
    text-decoration: none;
    color: #cd8dff;
    transition: color 0.3s ease;
}

.footer p a:hover {
    color: aliceblue;
}

.footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li {
    list-style: none;
}

.footer li a {
    display: inline-block;
    margin: 0;
    font-size: 1.25rem;
    padding: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer li a:hover {
    transform: scale(1.2);
}

.footer li a i {
    color: #cd8dff;
}

.footer li a i:hover {
    color: aliceblue;
}
